*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 500px;
    margin: auto;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

    #playerTurn{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 10px;
    }

        h4{
            line-height: 15px;
            margin-right: 10px;
        }

        #whoIsPlaying{
            width: 15px;
            height: 15px;
        }
    
    #game{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        height: 300px;
        position: relative;
    }

        .space{
            width: 96px;
            height: 96px;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .space img{
            width: 60px;
            height: 60px;
        }
    
    #newGameDiv{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }